/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset end */

body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    color: goldenrod;
    animation: light-up 5s;
    background-color: rgb(24, 6, 6);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes light-up {
    0% {
        opacity: 0;
        background-color: black;
    }
}

button {
    transform: skew(-20deg);
    background: goldenrod;
    box-shadow: 0 0 100px 0px black;
    font-size: 17px;
    transition: 1s;
}

button:hover {
    background-color: rgb(255, 235, 123);
    box-shadow: 4px 4px 2px black;
    text-shadow: 1px 1px 0 black;
}

header {
    text-align: center;
    color: gold;
    font-size: 36px;
    background-color: rgb(77, 15, 15);
    padding: 15px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: antiquewhite;
    padding: 20px;
    padding-top: 5px;
    margin: auto;
    box-shadow: 0px 0px 10px 2px white;
    font-size: 24px;
    opacity: 0.8;
    gap: 15px;
    transition: 1.5s;
}

.about-me:hover {
    opacity: 1;
}

@media (max-width: 800px) {
    .about-me {
        flex-direction: column;
    }
}

.message p {
    text-align: left;
    overflow-wrap: normal;
    margin: 15px 0;
}

.projects {
    width: auto;
    display: grid;
    grid-template:
        [row1-start] "monkebook chess" auto [row1-end]
        [row2-start] "games data-structures" auto [row2-end]
        [row3-start] "old-js old-js" auto [row3-end]
        / 1fr 1fr;
    gap: 15px;
}

@media (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.single-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 25px;
    border: 3px solid darkred;
    padding: 15px;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    gap: 5px;
    opacity: 0.35;
    background-color: rgb(77, 15, 15);
    transition: 1.5s
}

.single-project:hover {
    opacity: 1.5;
}

.monkebook {
    grid-area: monkebook;
}

.chess {
    grid-area: chess;
}

.games {
    grid-area: games;
}

.data-structures {
    grid-area: data-structures;
}

.old-js {
    grid-area: old-js;
    width: 40%;
    margin: auto;
}

@media (max-width: 600px) {
    .old-js {
        width: 80%;
    }
}

.project-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    transition: 1.5s;
}

@media (max-width: 950px) {
    .project-buttons  {
        flex-direction: column;
        gap: 15px;
    }
}

.open-link {
    display: inline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

p {
    text-align: center;
    overflow-wrap: normal;
    line-height: 20px;
}

::selection {
    background:#B2263A;
}

::-moz-selection {
    background: #B2263A;
}