/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset end */

body {
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    color: goldenrod;
    animation: light-up 5s;
    background-color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes light-up {
    0% {
        opacity: 0;
        background-color: black;
    }
}

button {
    transform: skew(-20deg);
    color: darkred;
    background: gold;
    box-shadow: 0 0 100px black;
    font-size: 17px;
    font-weight: bold;
    border: none;
    transition: 1s;
}

button:hover {
    background-color: rgb(255, 235, 123);
    box-shadow: 0px 0px 10px 2px gold;
}

header {
    font-weight: bold;
    text-align: center;
    color: gold;
    font-size: 36px;
    padding-top: 15px;
    margin-bottom: -15px;
    animation: 2s change-color infinite alternate;
    transition: 1.5s;
}

header:hover {
    letter-spacing: 3px;
}

@keyframes change-color {
    100% {
        color: rgb(255, 235, 123);
    }
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: darkred;
    color: gold;
    padding: 20px;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    font-size: 24px;
    opacity: 0.8;
    gap: 15px;
    box-shadow: 0 0 100px rgb(0, 0, 0, 0);
    transition: 1s;
}

.about-me:hover, .about-me:focus {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px gold;
}

@media (max-width: 800px) {
    .about-me {
        flex-direction: column;
    }
}

.message p {
    text-align: left;
    overflow-wrap: normal;
    margin: 15px 0;
}

.projects {
    width: auto;
    display: grid;
    grid-template:
        [row1-start] "monkebook chess" auto [row1-end]
        [row2-start] "games data-structures" auto [row2-end]
        [row3-start] "old-js old-js" auto [row3-end]
        / 1fr 1fr;
    gap: 15px;
}

@media (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.message .languages {
    text-align: end;
}

.languages i {
    display: inline-block;
    transition: 2.5s;
}

.languages i:hover {
    transform: rotate(1turn);
}

@media (max-width: 600px) {
    .message .languages {
        text-align: center;
    }
}

.portrait {
    transition: 1.5s;
}

.portrait:hover {
    transform: perspective(1000px) rotateY(15deg);
}

@media (max-width: 800px) {
    .portrait:hover {
        transform: perspective(1000px) rotateX(-15deg);
    }
}

.single-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 2px solid gold;
    padding: 15px;
    font-size: 20px;
    width: 75%;
    margin: 0 auto;
    gap: 5px;
    transform: scale(0.9);
    opacity: 0.35;
    background-color: rgb(53, 5, 5);
    box-shadow: 0 0 100px black;
    transition: 1.5s
}

.single-project:hover, .single-project:active {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px gold;
    transform: scale(1);
}

.monkebook {
    grid-area: monkebook;
    animation: 3.5s slide-left;
}

.chess {
    grid-area: chess;
    animation: 3.5s slide-right;
}

.games {
    grid-area: games;
    animation: 3.5s slide-left;
}

.data-structures {
    grid-area: data-structures;
    animation: 3.5s slide-right;
}

.old-js {
    grid-area: old-js;
    animation: 3.5s spring-up;
    width: 50%;
    margin: auto;
}

@media (max-width: 600px) {
    .old-js {
        width: 75%;
        animation: 3.5s slide-left;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%) scale(0.2);
    }

    100% {
        transform: translateX(0%) scale(0.9);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(100%) scale(0.2);
    }

    100% {
        transform: translateX(0%) scale(0.9);
    }
}

@keyframes spring-up {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(0.9);
    }
}

.sub-header {
    color: gold;
    font-weight: bold;
    padding: 10px;
    font-size: 32px;
    line-height: 26px;
}

.sub-header + .sub-language {
    display: flex;
    gap: 15px;
    height: 30px;
    opacity: 0;
    margin-top: -5px;
    font-size: 30px;
    transition: 1.5s;
}

.sub-header:hover + .sub-language {
    opacity: 1;
}

.project-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    transition: 1.5s;
}

@media (max-width: 950px) {
    .project-buttons  {
        flex-direction: column;
        gap: 15px;
    }
}

.open-link {
    display: inline;
}

p {
    text-align: center;
    overflow-wrap: normal;
    line-height: 20px;
}

::selection {
    background:#B2263A;
}

::-moz-selection {
    background: #B2263A;
}

.contacts i {
    color: white;
    font-size: 30px;
    opacity: 0.6;
    transition: 1.5s;
}

.contacts i:hover {
    font-size: 45px;
    opacity: 1;
}

.contacts svg {
    opacity: 0.6;
    transition: 1.5s;
}

.contacts svg:hover {
    transform: scale(1.5);
    opacity: 1;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    gap: 25px;
}

.contacts a {
    text-decoration: none;
    color: inherit;
}